apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyfin

  template:
    metadata:
      labels:
        app: jellyfin

    spec:
    # securityContext:
    #   fsGroup: 1000
    #   runAsUser: 1000
    #   runAsGroup: 1000

      containers:
        - name: jellyfin
          image: jellyfin/jellyfin:10.x
          ports:
            - containerPort: 8096
              protocol: TCP

          envFrom:
            - configMapRef:
                name: jellyfin-configmap

    #     securityContext:
    #         allowPrivilegeEscalation: false

    #     volumeMounts:
    #       - name: jellyfin-audiobooks
    #         mountPath: /audiobooks
    #       - name: jellyfin-podcasts
    #         mountPath: /podcasts
    #       - name: jellyfin-config
    #         mountPath: /config
    #       - name: jellyfin-metadata
    #         mountPath: /metadata


    # volumes:
    #   - name: jellyfin-audiobooks
    #     persistentVolumeClaim:
    #       claimName: jellyfin-audiobooks
    #   - name: jellyfin-podcasts
    #     persistentVolumeClaim:
    #       claimName: jellyfin-podcasts
    #   - name: jellyfin-config
    #     persistentVolumeClaim:
    #       claimName: jellyfin-config
    #   - name: jellyfin-metadata
    #     persistentVolumeClaim:
    #       claimName: jellyfin-metadata

      restartPolicy: Always
