apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyfin

  template:
    metadata:
      labels:
        app: jellyfin

    spec:
      securityContext:
        fsGroup: 33
        runAsUser: 33
        runAsGroup: 33

      containers:
        - name: jellyfin
          image: jellyfin/jellyfin:10.11
          ports:
            - containerPort: 8096
              protocol: TCP

          envFrom:
            - configMapRef:
                name: jellyfin-configmap

          securityContext:
              allowPrivilegeEscalation: false

          volumeMounts:
            - name: jellyfin-config
              mountPath: /config
            - name: jellyfin-media
              mountPath: /media

      volumes:
        - name: jellyfin-config
          persistentVolumeClaim:
            claimName: jellyfin-config
        - name: jellyfin-media
          nfs:
            server: 192.168.4.50
            path: "/mnt/storage/media"
            readOnly: true

      restartPolicy: Always
